* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h4 {
    font-weight: 700;
    color: black;
}

p {
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}

/* HEADER START */

#header a img {
    width: 50px;
    height: 50px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px black(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 10px;
}


.sub-child{
    display: flex;
}

#header a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

#header a span {
    color: #1F51FF;
}

/* HEADER END */

/* NAVBAR START */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 15px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navli a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(32, 2, 2);
    transition: 0.3 ease;
}

#navli a:hover,
#navli a.active {
    color: red;
}

#navli a.active::after,
#navli a:hover::after {
    content: "";
    width: 20%;
    height: 2px;
    background: burlywood;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#shop a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: beige;
    transition: 0.3 ease;
}

#shop a:hover,
#shop a.active {
    color: black;
}

#shop a.active::after,
#shop a:hover::after {
    content: "";
    width: 20%;
    height: 2px;
    background: burlywood;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* NAVBAR END */

#hero {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(img/musicb1.jpg);
    /* background-color:  #32527B; */
    /* background-color: #CCA25A; */
    /* background-color: #C0C0C0 ; */
}

#hero h1 {
    color: white;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#hero p {
    font-size: 18px;
    color: darkgrey;
}

#hero button {
    border-radius: 30px;
    background-color: blue;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: 0.3 ease;
}

#hero button:active {
    background-color: orangered;
    color: white;
}

/* BANNER END  */

/* FEATURE BANNER  */

#feature {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#feature h2 {
    font-family: fantasy;
}

#feature p {
    text-align: center;
}

#feature button {
    border-radius: 30px;
    background-color: blue;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: 0.3 ease;
}

#feature button:hover {
    background-color: orangered;
    color: white;
}

/* CARD START */

/* CARD UPPER HEADING START */

#subheading h3 {
    font-size: 30px;
    color: black;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 70px;
    padding-top: 50px;
}

#subheading a {
    text-decoration: none;
}

#subheading h3:hover {
    text-decoration: underline;
}


#heading h2 {
    font-size: 40px;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#heading hr {
    border: 0.5px solid brown;
    width: 90%;
    margin: 10px auto 40px auto;
}

/* SOLO SINGERS CARD */

#card-product .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#image {
    width: 200px;
    height: 200px;
    border-radius: 170px;
}

#image:hover {
    filter: grayscale(3);
}

.pro {
    width: 23%;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px black(0, 0, 0, 0.06);
    margin: 15px;
    transition: 0.2s ease;
    position: relative;
}

.pro:hover {
    box-shadow: 20px 20px 30px black(0, 0, 0, 0.06);
}

.pro img {
    width: 100%;
    border-radius: 20px;
}

.pro.des {
    text-align: center;
    padding: 10px 0;
}

.pro .des h5 {
    font-size: 15px;
    padding-top: 7px;
    color: black;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.pro .des h5:hover {
    text-decoration: underline;
}

.pro .des p {
    font-size: 15px;
    padding-top: 0;
    color: #D3D3D3;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    line-height: 1;
}

.pro .des a {
    text-decoration: none;
}

#parentofcard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#card-product:hover {
    transform: transform: translateY(-5px);
    ;
}

/* CARD END */

/* ALBUMS CARD */

#image1 {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

#image1:hover {
    filter: grayscale(3);
}

/* MOVIES CARD */

#movieparent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

#mbtn {
    border-radius: 30px;
    background-color: #1F51FF;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: 0.3 ease;
}

#mbtn:hover {
    color: white;
    background-color: purple;
}

#mtxt a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(253, 245, 245);
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

#mtxt p {
    font-size: 15px;
    color: rgb(248, 240, 240);
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

#mtxt a:hover {
    text-decoration: underline;
}

#epi {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #00ffff;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
}

#moviecard {
    width: 300px;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 35px;
    overflow: hidden;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    text-align: center;
}

#moviecard:hover {
    transform: translateY(-5px);
}

#image2 {
    width: 100%;
    height: 170px;
    /* object-fit: cover; */
    border-radius: 30px;
}

/* BANDS CARD */

#bandcard {
    width: 250px;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 35px;
    overflow: hidden;
    margin: 40px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    text-align: center;
}

#bandcard:hover {
    transform: translateY(-5px);
}

#image3 {
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

#playbtn {
    background-color: #1F51FF;
    height: 50px;
    width: 50px;
    border-radius: 110px;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 20px;
    transition: 0.3s ease;
}

#playbtn:hover {
    transform: scale(1.1);
}

#parentofband{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

/* FOOTER SECTION */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 40px;
    width: 100%;
    height: 400px;
    margin: 15px 0px 15px 0px;
    background-color: antiquewhite;
    padding-left: 30px;
    padding-right: 30px;
}

footer .col{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

#fo1{
    width: 60px;
    height: 60px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1f1f1f;
}

footer li{
    list-style: none;
}

footer .follow i{
    color: gray;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    width: 150px;
    height: 60px;
    padding: 10px;  
    flex-direction: row;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
     color: #00ffff;
}

.child1{
    flex-direction: row;
    
}

.child2{
    flex-direction: row;
   
}

.child3{
    flex-direction: row;
    
}

.child4 .ipay img{
    width: 25px;
    height: 20px;
}

footer .copyright{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

footer .copyright p{
    color: gray;
}


